{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    {#<h1>Hello {{ controller_name }}! ✅</h1>#}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}


    <div class="container has-text-centered">

        <img src="/assets/Logo_Amet.png" alt="logo" width="120">

        <section class="section mx-6 px-6">
            <h2 class="title mx-6 px-6 has-text-weight-light">Stockage gratuit et classement automatique de tous vos souvenirs</h2>
        </section>

        <img src="/assets/multiple_photos_home.jpeg">

        <section class="section mx-6 px-6">
            <h2 class="my-6 title has-text-weight-light">Vos sauvegardes sont en lieu sûr</h2>
            <h3 class="subtitle mx-6 px-6 has-text-justified">Sauvegardez gratuitement un nombre illimité de photos et de vidéos, jusqu'à une résolution de 16 mégapixels ou 1080p HD. Vous pouvez ensuite y accéder sur votre mobile, votre tablette ou votre ordinateur via photos.google.com. Elles sont sauvegardées en lieu sûr, et restent toujours à portée de main.</h3>
            <img src="/assets/sauvegarde_home.jpeg">

        </section>

        <section class="section mx-6 px-6">
            <h2 class="my-6 title has-text-weight-light">Trouvez vos photos plus rapidement</h2>
            <h3 class="subtitle mx-6 px-6 has-text-justified">Vos photos sont organisées automatiquement, et vous pouvez effectuer des recherches en fonction des lieux et des sujets immortalisés, sans devoir ajouter des tags. Pour trouver toutes les photos de votre animal de compagnie, recherchez simplement "chien".</h3>
        </section>

        <section class="section mx-6 px-6">
            <h2 class="my-6 title has-text-weight-light">Retrouvez les photos de tous les participants dans une même collection</h2>
            <h3 class="subtitle mx-6 px-6 has-text-justified">Regroupez vos photos avec celles de vos proches grâce à des albums partagés. Ainsi, vous ne ratez jamais rien, quel que soit l'appareil dont chacun dispose.</h3>
        </section>
    </div>

    {#This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/chloemarquet/Documents/Developpement/amet/src/Controller/HomePageController.php'|file_link(0) }}">src/Controller/HomePageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/chloemarquet/Documents/Developpement/amet/templates/home_page/index.html.twig'|file_link(0) }}">templates/home_page/index.html.twig</a></code></li>
    </ul>#}
</div>
{% endblock %}
