{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h1>Images index</h1>

    <table class="table">
        <thead>
        <tr>


            <th>Images</th>
        </tr>
        </thead>
        <tbody>
        {% for myimage in images %}
            <tr>




                <td>
                    <a href="{{ path('images_edit', {'id': myimage.id}) }}">
                        <img src="{{ asset('/uploads/' ~ myimage.name) }}" alt="Image" width="150">
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('images_new') }}">Create new</a>
{% endblock %}